@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.App {
  text-align: center;
}

#root {
  font-family: "Poppins", sans-serif;
}

.card {
  margin-top: 50px;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  width: 100%;
}

.btn {
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

.btn:hover {
  background-image: linear-gradient(315deg, #414141 0%, #696969 74%); 
}

img {
  margin-top: 50px;
  width: 100%;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.404);
  margin-bottom: 50px;
}
